body
{
  position: relative;
  height: auto;
  min-height: 100%;
}
a
{
  text-decoration:none;
}
nav
{
  position: fixed;
  width: 100%;
  background-color:white;
  color: black;
  margin: 0px 0px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2px 1px 1px grey;
}
#guidetrans
{
  text-align: left;
  height: fit-content;
  position: absolute;
  right: 0px;
  width: fit-content;
  padding-right: 0px;
}
.guidebuttom
{
  width: fit-content;
  display: inline-block;
  position: relative;
  right: 30px;
  top: 20px;
  color: black;
  margin-left: 5px;
  font-size: 20px;
}
.guideblock:link
{
  color: black;
}
.guideblock:hover
{
  font-weight: bold;
}
.guideblock:active
{
  color:grey;
}
footer {
  border-top: 1px solid #bbb8b8;
  margin-top: 36px;
  color: grey;
}
#friend_chain_list a
{
  color: grey;
  padding-left: 5px;
}
.datetime
{
  color: grey;
  display: inline-block;
}
.article_chain a
{
  color: black;
}
.article_chain
{
  padding-left: 5px;
}