nav
{
  background-color:white;
  color: black;
  left: 50px;
  margin: 20px 10px;
}
#guidetrans
{
  text-align: left;
  height: fit-content;
}
.guidebuttom
{
  width: fit-content+100px;
  position: relative;
  display: inline-block;
  color: black;
  margin-left: 5px;
}
.guideblock:link
{
  text-decoration:none;
  color: black;
}
.guideblock:hover
{
  font-weight: bold;
}
footer {
  float: bottom;
  border-top: 1px solid #918f8f;
  margin-top: 36px;
}