<h1 style="font-size: 50px; width: fit-content;font-family: 'Courier New', Courier, monospace;">Heno Blog</h1>
<nav>
    <div id="guidetrans">
      &nbsp;
      <div class="guidebuttom" id="Home">
        <a href="/" class="guideblock">Home</a>
      </div>
      &nbsp;
      <div class="guidebuttom" id="math_notes">
        <a href="/math_notes" class="guideblock">Maths Notes</a>
      </div>
      &nbsp;
      <div class="guidebuttom" id="algorithm_notes">
        <a href="/algorithm_notes" class="guideblock">Algorithm Notes</a>
      </div>
      &nbsp;
      <div class="guidebuttom" id="acm_records">
        <a href="/acm_records" class="guideblock">Acm Recordse</a>
      </div>
    </div>
</nav>