<nav>
    <h1 style="width: fit-content;">Heno Blog</h1>
    <div id="guidetrans">
      <div class="guidebuttom">
        <a href="/" class="guideblock">Home</a>
      </div>
      <div class="guidebuttom">
        <a href="/math_notes" class="guideblock">Maths Notes</a>
      </div>
      <div class="guidebuttom">
        <a href="/algorithm_notes" class="guideblock">Algorithm Notes</a>
      </div>
      <div class="guidebuttom">
        <a href="/acm_records/" class="guideblock">Acm Recordse</a>
      </div>
    </div>
</nav>