<nav>
  <h1 style="margin:5px 5px; font-size: 50px; width: fit-content;font-family: 'Courier New', Courier, monospace;display: inline-block;">Heno Blog</h1>
  <div id="guidetrans" style="display: inline-block;">
    &nbsp;
    <div class="guidebuttom" id="Home">
      <a href="/" class="guideblock">Home</a>
    </div>
    &nbsp;
    <div class="guidebuttom" id="math_notes">
      <a href="/math_notes" class="guideblock">Maths Notes</a>
    </div>
    &nbsp;
    <div class="guidebuttom" id="algorithm_notes">
      <a href="/algorithm_notes" class="guideblock">Algorithm Notes</a>
    </div>
    &nbsp;
    <div class="guidebuttom" id="acm_records">
      <a href="/acm_records" class="guideblock">Acm Records</a>
    </div>
  </div>
</nav>