<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
      #{{ page.category }}
      {
        font-weight: bold;
      }
    </style>
	</head>
	<body vlink="black">
    {% include guide.html %}
		<div class="container" style="margin-left: 20px;padding-top: 100px;">
      <h2 id="Notetitle">{{ page.title }}</h2>
      {{ content }}
		</div><!-- /.container -->
    <footer>
      {% include friend_chain_list.html %}
      <!--
        Connact Me
        QQ:1971810630
      -->
    </footer>
	</body>
</html>