<!DOCTYPE html>
<html>
	<head>
	 	<title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
      #{{ page.category }}
      {
        font-weight: bold;
        box-shadow: 5px;
      }
    </style>
	</head>
	<body vlink="black">
    {% include guide.html %}
		<div class="container" style="margin-left: 20px;padding-top: 100px;">
      {{ content }}
		</div><!-- /.container -->
		<footer>
      {% include friend_chain_list.html %}
      <!--
        Connact Me
        QQ:1971810630
      -->
		</footer>
	</body>
</html>